# https://github.com/gabibdods/NewRepositoryTemplate:
*

!.gitattributes
!.gitignore
!.gitlab-ci.yml
!README.md

!.gitlab/
!.gitlab/sast-ruleset.toml

!License/
!License/LICENSE.md
!License/NOTICE.md


# particular repository ignores:

!GitTorrent.iml

!src/
!src/Main.java

!gui/
!gui/.editorconfig
!gui/angular.json
!gui/package.json
!gui/package-lock.json
!gui/tsconfig.app.json
!gui/tsconfig.json
!gui/tsconfig.spec.json

!gui/.vscode/
!gui/.vscode/extensions.json
!gui/.vscode/launch.json
!gui/.vscode/tasks.json

!gui/public/
!gui/public/favicon.ico

!gui/src/
!gui/src/index.html
!gui/src/main.ts
!gui/src/styles.css

!gui/src/app/
!gui/src/app/app.config.ts
!gui/src/app/app.css
!gui/src/app/app.html
!gui/src/app/app.routes.ts
!gui/src/app/app.spec.ts
!gui/src/app/app.ts
