# https://github.com/gabibdods/NewRepositoryTemplate:
*

!.gitattributes
!.gitignore
!.gitlab-ci.yml
!README.md

!.gitlab/
!.gitlab/sast-ruleset.toml

!License/
!License/LICENSE.md
!License/NOTICE.md


# particular repository ignores:

!gittor/
!gittor/.gittor
!gittor/.gittorfmt
!gittor/.gittorlng
!gittor/.gittorrls
!gittor/build.gradle
!gittor/build.gradle.kts
!gittor/gittor.iml
!gittor/gittor.ps1
!gittor/settings.gradle
!gittor/settings.gradle.kts

!gittor/gradle/

!gittor/gradle/wrapper/
!gittor/gradle/wrapper/gradle-wrapper.jar
!gittor/gradle/wrapper/gradle-wrapper.properties

!gittor/lib/
!gittor/lib/*.jar

!gittor/src/

!gittor/src/main/

!gittor/src/main/java/

!gittor/src/main/java/dev/
!gittor/src/main/java/dev/Main.java

!gittor/src/main/java/dev/analysis/
!gittor/src/main/java/dev/analysis/*.java

!gittor/src/main/java/dev/cli/
!gittor/src/main/java/dev/cli/*.java

!gittor/src/main/java/dev/core/
!gittor/src/main/java/dev/core/*.java

!gittor/src/main/java/dev/format/
!gittor/src/main/java/dev/format/*.java

!gittor/src/main/java/dev/model/
!gittor/src/main/java/dev/model/*.java

!gittor/src/main/java/dev/util/
!gittor/src/main/java/dev/util/*.java

!gittor/src/main/resources/
!gittor/src/main/resources/.gittorxsd

!gui/
!gui/.editorconfig
!gui/angular.json
!gui/package.json
!gui/package-lock.json
!gui/tsconfig.app.json
!gui/tsconfig.json
!gui/tsconfig.spec.json

!gui/.vscode/
!gui/.vscode/extensions.json
!gui/.vscode/launch.json
!gui/.vscode/tasks.json

!gui/public/
!gui/public/favicon.ico

!gui/src/
!gui/src/index.html
!gui/src/main.ts
!gui/src/styles.css

!gui/src/app/
!gui/src/app/app.config.ts
!gui/src/app/app.css
!gui/src/app/app.html
!gui/src/app/app.routes.ts
!gui/src/app/app.spec.ts
!gui/src/app/app.ts
